source https://nuget.org/api/v2

nuget EasyNetQ

group Build
    source https://nuget.org/api/v2

	nuget FAKE
	nuget NUnit.Runners

group Examples
    source https://nuget.org/api/v2

	nuget Argu
	nuget FSharp.Core
	nuget dotLiquid
	nuget fspickler
	nuget fspickler.json
	nuget SqlProvider

group Test
	source https://nuget.org/api/v2

	github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs
	nuget NUnit
	nuget FsCheck

group Legacy
	source https://nuget.org/api/v2

	nuget EasyNetQ 0.26.0.181
	nuget RabbitMQ.Client 3.1.5
